.card {
  padding: 20px;
  width: 210px;
  border: 1px solid #f3f3f3;
  border-radius: 40px;
  position: relative;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;

  .plus {
    cursor: pointer;
  }

  &:hover {
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.06);
    transform: translateY(-5px);
  }
  span {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    text-transform: uppercase;
    opacity: 0.3;
  }

  h5 {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
}

.favorite {
  position: absolute;
  top: 30;
  left: 30;
  z-index: 1000;
  cursor: pointer;
}

